.PromoBar {
    padding: 0px;
    height: 0%;

}

.swiper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.swiper-android .swiper-slide, .swiper-wrapper {
    transform: translateZ(0);
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}

@media print, screen and (min-width: 40em)
.PromoBar-item {
    font-size: .8125rem;
}

.PromoBar-item {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    text-align: center;
    letter-spacing: .14em;
}

.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background:rgb(17, 38, 67);
}

section {
  padding: 5rem 9%;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  border: 0.2rem solid #222;
  background: #fff;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  cursor: pointer;
  color: #222;
}

.btn:hover {
  color: #fff;
  background:rgb(12, 49, 70);
}

.heading {
  text-align: center;
  margin-bottom: 4rem;
}

.heading h1 {
  font-size: 2.6rem;
  color: #000000;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.heading p {
  margin: 1rem auto;
  font-size: 1.5rem;
  color: #777;
  max-width: 50rem;
  line-height: 2;
}

@-webkit-keyframes fadeUp {
  0% {
    -webkit-transform: translateY(4rem);
            transform: translateY(4rem);
    opacity: 0;
  }
}

@keyframes fadeUp {
  0% {
    -webkit-transform: translateY(4rem);
            transform: translateY(4rem);
    opacity: 0;
  }
}

.header {
  padding: 1.5rem 9%;
  background:#06113f;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

.icons {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    text-align:center;
    background:#fff;
    color: #222;
    cursor: pointer;
    font-size: 1.8rem;
    margin-right: .3rem;
    border-radius: .5rem;
}

.header .icons a:hover,
.header .icons div:hover {
  background: rgb(12, 49, 70);
  color: #fff;
}

  
/* Rotate first bar */
  .change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}
  
/* Fade out the second bar */
.change .bar2 {opacity: 0;}
  
/* Rotate last bar */
  .change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}


.header .logo img {
  height: 18rem;
}

.header .menu {
  color: #ffff;
  font-size: 18px;
}

.header .menu ul{
  margin: 0;
  padding: 0;
overflow: hidden;
  
}

.header .menu ul li{
  padding-right: 30px;
  float: left;
  font-family: cursive;
  font-size: 17px;
  font-weight: 700;
  cursor: pointer;
  list-style-type: none;
}

.header .menu ul li a{
  color: #fff;
  text-decoration: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header .menu ul li a:hover{
  border-bottom: 3px solid #ffff;
  transition: all .3s ease;
}

/* The sidebar menu */
.sidenav {
  height: 40%; /* Full-height: remove this if you want "auto" height */
  width: 200px; /* Set the width of the sidebar */
  position: absolute; 
  z-index: 1; /* Stay on top */
  left: 0;
  background-color: #ffffff; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 30px;
}

.sidenav h3{
  padding-left: 18px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 14px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 17px;
  color: #424242;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #000000;
}

/* Style page content */
.main {
  margin-left: 250px; /* Same as the width of the sidebar */
  padding: 0px 10px;
  padding-top: 30px;
}

.main p {
  font-size: 14px;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.main h2 {
  font-size: 14px;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #06113f; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #06113f;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #06113f;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  padding: 20px;
}

.main .container label {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 14px;
}

.footer {
  background-color: #f5f5f5;
}

.footer .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}

.footer .box-container .box h3 {
  font-size: 2.2rem;
  color: #222;
  padding: 1rem 0;
}

.footer .box-container .box .link {
  padding: 1rem 0;
  display: block;
  font-size: 1.5rem;
  color: #777;
}

.footer .box-container .box .link i {
  padding-right: .5rem;
  color: rgb(17, 38, 67);
}

.footer .box-container .box .link:hover {
  color: rgb(17, 38, 67);
}

.footer .box-container .box .link:hover i {
  padding-right: 2rem;
}

.footer .box-container .box p {
  font-size: 1.5rem;
  color: #777;
  padding: 1rem 0;
}

.footer .box-container .box p i {
  padding-right: .5rem;
  color: rgb(17, 38, 67);
}

.footer .box-container .box .share {
  margin-top: 2rem;
}

.footer .box-container .box .share a {
  height: 5rem;
  width: 5rem;
  background: #fff;
  border: 0.2rem solid #222;
  font-size: 2rem;
  line-height: 4.5rem;
  color: #222;
  text-align: center;
  margin-right: .3rem;
}

.footer .box-container .box .share a:hover {
  background: rgb(17, 38, 67);
  color: #fff;
}

.footer .box-container .box form .email {
  width: 100%;
  border: 0.2rem solid #222;
  padding: 1.2rem 1.4rem;
  font-size: 1.6rem;
  color: #777;
  text-transform: none;
  margin: 1rem 0;
}

.footer .credit {
  text-align: center;
  font-size: 2rem;
  margin-top: 3rem;
  padding: 1rem;
  border-top: 0.2rem solid #222;
  padding-top: 3rem;
  color: #777;
}

.footer .credit span {
  color: rgb(17, 38, 67);
}

.team {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #f5f5f5), color-stop(50.1%, #fff));
  background: linear-gradient(#f5f5f5 50%, #fff 50.1%);
}

.team .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(31rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 2rem;
}

.team .box-container .box {
  border: 0.2rem solid #222;
  text-align: center;
}

.team .box-container .box:hover .image img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.team .box-container .box:hover .image .share {
  left: 0;
}

.team .box-container .box .image {
  height: 50rem;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.team .box-container .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.team .box-container .box .image .share {
  position: absolute;
  top: 0;
  left: -8rem;
  background: #222;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 1rem;
  gap: 1rem;
}

.team .box-container .box .image .share a {
  height: 5rem;
  width: 5rem;
  border: 0.2rem solid #fff;
  font-size: 2.5rem;
  color: #fff;
  line-height: 5rem;
}

.team .box-container .box .image .share a:hover {
  background: #fff;
  color: #222;
}

.team .box-container .box .content {
  border-top: 0.2rem solid #222;
  padding: 1.5rem;
}

.team .box-container .box .content h3 {
  font-size: 2rem;
  color: #222;
}

.team .box-container .box .content p {
  font-size: 1.5rem;
  color: #e84393;
}